body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff9900;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;
}

.nav-button {
    text-decoration: none;
    color: white;
    background-color: #ff9900;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}


main {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 20px;
}

.filter label {
    font-size: 1.2em;
    margin-right: 10px;
}

.filter select {
    padding: 5px;
    font-size: 1em;
}

.places {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.place-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.place-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.place-card p {
    margin: 5px 0;
}

.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    color: white;
    background-color: #ff9900;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #ff9900;
    padding: 10px;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}
